body{
    background-color: blanchedalmond;
    width: 700px; /*controls the width of the page */
    margin: 0 auto; /* centers on the page */
}


p{
    font-size: 24px;
}

img, video{
	max-width: 100%;
	height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
  display: inline-block;
  margin-right: 40px;
}